<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XCUITodo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FC835A61B6155AC0018BADD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FC835BC1B6155AD0018BADD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FC835C71B6155AD0018BADD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
